.contact{

    padding:70px 20px;
    text-align:center;
}

.contact h2{

    font-size:40px;
    margin-bottom:15px;
    color:white;
}

.contact-desc{

    color:#cbd5e1;
    max-width:650px;
    margin:0 auto 40px;
    line-height:1.8;
}

.contact-card{

    max-width:550px;
    margin:auto;
    background:white;
    border-radius:20px;
    padding:30px;
    display:flex;
    flex-direction:column;
    gap:18px;
    box-shadow:0 15px 35px rgba(0,0,0,.15);
}

.contact-card a,
.location{

    display:flex;
    align-items:center;
    gap:15px;
    text-decoration:none;
    color:#1e293b;
    font-size:17px;
    padding:12px;
    border-radius:12px;
    transition:.3s;
}

.contact-card a:hover{

    background:#eff6ff;
    transform:translateX(8px);

    color:#2563eb;
}

.contact-card svg{
    
    font-size:24px;
    color:linear-gradient(135deg, #0f172a 0%, #1e293b 50%, #312e81 100%)b;
}

.location{

    cursor:default;
}

@media(max-width:768px){

    .contact-card{

        padding:20px;
    }

    .contact-card a,
    .location{

        font-size:15px;
    }

}